body {
  background-color: #282c34;
  color: white;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.Header {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Header p {
  font-size: 25px;
}
.name,
.age {
  border: none;
  margin: 7px;
  border-radius: 15px;
  padding: 5px;
  width: 100%;
  font-size: 18px;
}
.clickName {
  margin: 8px;
  color: white;
  width: 80px;
  height: 35px;
  border-radius: 15px 10px;
  border: none;
  background-color: rgb(3, 208, 195);
  transition: all 0.6s;
}
.clickName:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 5px 4px 5px;
}
.user-list button {
  border: none;
  background-color: aquamarine;
  border-radius: 15px;
  width: 70px;
  height: 30px;
  transition: all 0.4s;
}
.user-list button:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 5px 4px 5px;
}

.error{
  background-color: red;
  border-radius: 15px;
  width: 250px;
  height: 70px;
}